<!-- Formulário -->
<form class="" 
      action="https://paginas.rocks/pages/index/508054" 
      method="post" >

  <!-- hidden forms -->
  <fieldset>
    <input id="id" 
            name="id" 
            type="hidden" 
            value="508054" />
            
    <input id="mid" 
            name="mid" 
            type="hidden" 
            value="508054" />
            
    <input id="pid" 
            name="pid" 
            type="hidden" 
            value="19005590" />
            
    <input id="list_id" 
            name="list_id" 
            type="hidden" 
            value="508054" />
            
    <input id="provider" 
            name="provider" 
            type="hidden" 
            value="leadlovers" />
  </fieldset>

  <!-- actual form -->
  <fieldset class="my-2">

    <!-- email form -->
    <input required
            type="email" 
            id="email" 
            name="email" 
            class="form-control mb-3" 
            placeholder="Informe o seu e-mail" 
            aria-label="Informe o seu e-mail" 
            aria-describedby="basic-addon1">

    <!-- name form -->
      <input required
              type="text" 
              id="name" 
              name="name" 
              class="form-control mb-3" 
              placeholder="Informe o seu nome" 
              aria-label="Informe o seu nome" 
              aria-describedby="basic-addon1">

    <!-- phone form -->
      <input required
              type="phone" 
              id="phone" 
              name="phone" 
              class="form-control" 
              placeholder="Informe o telefone" 
              aria-label="Informe o telefone" 
              aria-describedby="basic-addon1 mb-3">
  </fieldset>

  <button class="pop_btn btn btn-secondary btn-block" style="padding: 10px 40px; margin:15px 0 5px; " type="submit">Enviar</button>

  <input type="hidden" 
          id="source" 
          name="source" value="" />

  <img src="https://llimages.com/redirect/redirect.aspx?A=V&p=19005590&m=508054" 
        style="display: none;" />
</form>
