<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <meta http-equiv='x-ua-compatible' content='ie=edge'>

  <title>
  {% if page.title %}
    {{ page.title }} - {{ site.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
  </title>

  <link rel='shortcut icon'
        type='image/x-icon' 
        href='{{ site.baseurl}}/assets/img/favicon.ico' >

  <link rel='stylesheet' 
        href='{{ site.baseurl}}/assets/css/vendors/bootstrap/bootstrap.min.css'>
        
  <link rel='stylesheet' 
        href='{{ site.baseurl}}/assets/css/main.css'>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
</head>
