<div id="leavingPopup" 
      class="pop modal fade" 
      tabindex="-1" 
      aria-labelledby="leavingPopupLabel" 
      aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- header -->
      <div class="pop_header modal-header">
        <h5 class="pop_header-title modal-title" id="leavingPopupLabel">
          Não encontrou o que procurava?
        </h5>

        <button type="button" 
                class="btn-close" 
                data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>

      <!-- body -->
      <div class="modal-body">
        <h6 class="pop_body-title">
          Eu tenho o imóvel que você busca.
        </h6>

        <p class="text--muted"><small>Preencha seus dados para que eu possa te apresentar o imóvel perfeito para você e sua família.</small></p>

        {% include form.html %}
      </div>
    </div>
  </div>
</div>
