.pop {

  .text {

    &--muted {

      font-size: 0.9rem;
      color: #6c757d;
      text-align: justify;
      text-justify: distribute;

      @media (min-width: 576px) {
        
        font-size: 1rem;
      }
    }
  }
}
