.pop {

  &_btn {

    transition: var(--transition);

    font-weight: bold;

    @media (min-width: 576px) {

      border-bottom-right-radius: 5rem;
    }

    &.btn-block {

      display: block;
      width: 100%;
    }

    &.btn-primary:hover,
    &.btn-secondary:hover {

      transition: var(--transition);
    }

    &.btn-primary {

      background-color: var(--primary);
      border-color: var(--primary);
    }

    &.btn-secondary {

      color: var(--primary);

      background-color: var(--secondary);
      border-color: var(--secondary);

      &:hover {

        background-color: var(--primary);
        color: white;
        border-color: var(--primary);
      }
    }
  }
}
