<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {{ content }}

    {% include popup.html  %}

    <!-- deleteme -->
    <style>
      body {

        overflow-y: hidden;
      }
    </style>

    <iframe class="vw-100 vh-100"
            style="overflow-x: hidden;"
            src="https://imoveis3.marcodarosacorretor.com.br/frente-mar-itapema">
    </iframe>

    <script src='{{ site.baseurl}}/assets/js/vendors/bootstrap/bootstrap.js'></script>
    <script src='{{ site.baseurl}}/assets/js/leavingpopup.js'></script>
    <script src='{{ site.baseurl}}/assets/js/main.js'></script>
  </body>
</html>
