.pop {

  &_header {

    background-color: var(--primary);

    border-radius: 0;

    @media (min-width: 576px) {
        
      border-radius: 60px 0 0 0;
      padding-left: 3rem;
    }

    &-title {

      font-size: 0.85rem;
      font-weight: 900;
      color: white;
      text-transform: uppercase;

      @media (min-width: 576px) {
        
        margin-left: -0.9rem;
        font-size: 1.17rem;
      }
    }
  }
}
